#root {
    min-height: 625px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    background-color: rgb(40, 56, 104);

    --form-control-color: rgb(5, 255, 5);
}

* {
    box-sizing: border-box;
}

h1,
h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

input {
    border: none;
    border-radius: 5px;
    padding: 15px 25px;
}

.input-search {
    width: 60%;
}

.section-todo {
    display: grid;
    grid-template-columns: 2fr 1.3fr;
    grid-auto-rows: minmax(100px, auto);
    justify-content: center;
    margin: 20px 5px;
    gap: 20px;
    min-height: 440px;
}

.section-card {
    width: 75%;
    justify-self: end;
}

.card-todo {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    background-color: rgb(13, 70, 97);
    box-shadow: -1px 2px 4px 1px rgba(0, 0, 0, 0.7);
    text-align: start;
    padding: 10px;
    margin-bottom: 15px;
}

.card-todo p {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    flex: 1;
    margin: 5px;
    font-weight: 600;
    font-size: medium;
}

.card-todo--left {
    display: grid;
    grid-template-columns: 50px 1fr;
    justify-items: center;
}

.p-no--todos {
    font-size: large;
    font-weight: bolder;
    margin-top: 120px;
}

.p-form--error {
    color: rgb(255, 0, 0);
    font-weight: bold;
    text-align: center;
}

.p-form--add {
    color: rgb(27, 216, 58);
    font-weight: bold;
    text-align: center;
}

.p-complete {
    text-decoration: line-through;
}

.input-checkbox {
    -webkit-appearance: none;
    appearance: none;
    background-color: rgba(60, 97, 94, 0.986);
    margin: 0;
    padding: 10px;
    font: inherit;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 0.15em solid rgb(50, 158, 253);
    border-radius: 50%;
    display: grid;
    place-content: center;
    align-self: center;
}

.input-checkbox::before {
    content: '';
    width: 10px;
    height: 10px;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 130ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
}

.input-checkbox:checked::before {
    transform: scale(2.2);
}

.btn-delete {
    background-color: rgb(13, 70, 97);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
}

.btn-delete:hover {
    opacity: 85%;
}

.container-status {
    padding: 5px;
}

.article-form {
    border-radius: 5px;
    background-color: rgb(13, 70, 97);
    box-shadow: -1px 2px 4px 1px rgba(0, 0, 0, 0.7);
    padding: 20px;
    min-height: 350px;
    max-height: 450px;
    text-align: center;
    width: 75%;
}

.article-form p {
    margin: 5px;
    font-size: large;
    font-weight: 600;
    text-align: left;
}

.form-agregar {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

.input-add--todo {
    width: 90%;
}

.btn {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    padding: 8px 16px;
}

.btn:hover {
    opacity: 85%;
}

.btn-agregar {
    background-color: rgb(24, 125, 192);
    box-shadow: -1px 2px 4px 1px rgba(0, 0, 0, 0.7);
    font-weight: bold;
    font-size: 0.9rem;
    width: 50%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(13, 70, 97);
    border-radius: 5px;
    box-shadow: -1px 2px 4px 1px rgba(0, 0, 0, 0.7);
    font-weight: bold;
}

.open-modal {
    position: relative;
    z-index: 1;
    border: 1px solid aqua;
    border-radius: 50%;
    font-size: large;
    padding: 15px;
    background-color: rgb(27, 219, 219);
    box-shadow: -1px 2px 4px 1px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.modal {
    background-color: rgba(32, 35, 41, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@media (width <= 980px) {
    .input-search {
        width: 90%;
    }

    .article-form {
        width: 95%;
    }

    .section-card {
        width: 95%;
    }
}

@media (width <= 769px) {
    .section-todo {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr;
    }

    .article-form {
        order: 1;
    }

    .section-card {
        order: 2;
    }

    .section-card {
        justify-self: center;
    }

    .article-form {
        border-radius: 5px;
        background-color: rgb(19, 112, 155);
        box-shadow: -1px 2px 4px 1px rgba(0, 0, 0, 0.7);
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-self: center;
        padding: 10px;
        min-height: 100px;
        max-height: 100px;
    }

    .article-form p {
        margin: 2px;
        font-size: medium;
        font-weight: 600;
        text-align: left;
    }

    .form-agregar {
        border-radius: 5px;
        background-color: rgb(13, 70, 97);
        box-shadow: -1px 2px 4px 1px rgba(0, 0, 0, 0.7);
        padding: 20px;
        width: 85%;
    }

    .p-no--todos {
        margin-top: 20px;
    }
}

@media (width <= 391px) {
    .article-form {
        min-height: 120px;
        max-height: 120px;
    }
}
